@import './variables.scss';
@import './transition.scss';
.layout-container{
  height: 100vh;
  top: 0;
  bottom: 0;
}
.pointer {
  cursor: pointer;
}
.lay-hover:hover {
  color: $primary;
  cursor: pointer;
}

@media (max-width: 768px) {
  .xs-hidden {
    display: none;
  }
}



